controllers/package.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/package" xmlns:package="http://www.fahodzi.com/package" elementFormDefault="qualified">
<xs:element name="package">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="label" minOccurs="1" maxOccurs="1" type="xs:string" />
            <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" />         
            <xs:element name="icon" minOccurs="0" maxOccurs="1" type="xs:string" />         
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
